.center {
  position: relative;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
  width: 45vw;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 31px;
  padding-right: 31px;
}

//   button,
//   [type="button"],
//   [type="reset"],
//   [type="submit"] {
//     -webkit-appearance: media-sliderthumb;
//     background-color: white;
//   }
