<mat-toolbar color="primary">
  <span>My App</span>
  <span class="example-spacer" style="width: 86%"></span>

  <button
    mat-flat-button
    color="primary"
    class="example-icon"
    style="padding: 7px"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>
<br />

<br /><br /><br />

<div class="row align-items-center">
  <div class="col-lg-3 col-md-3 d-md-block d-none d-lg-block"></div>
  <div class="col-lg-6 col-md-6">
    <div class="mr-lg-5">
      <img
        src="../../assets/images/landingpage.svg"
        class="img-fluid d-block mx-auto"
        alt=""
      />
      <div class="col-lg-3 col-md-3 d-md-block d-none d-lg-block"></div>
    </div>
  </div>
</div>
